* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.main {
  height: 100%;
  width: 80%;
  margin: 5% auto;
  padding: 1px;
  background-color: lightgray;
  border: 1px solid black;
}

.topBox {
	height: 30%;
	width: 86%;
	background-color: white;
	margin: 2% auto;
}

.textBox1 {
	height: 70%;
	margin: 0 5%;
	text-align: left;
	font-family: Arial;
	font-size: 19px;
	position: relative;
	top: 7%;
}

.Button {
	height: 20%;
	width: 15%;
	margin-left: 5%;
	color: white;
	float: left;
	font-size: 16px;
	font-family: Arial;
	text-align: center;
	line-height: 2.6;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.bottomBox {
	height: 50%;
	width: 86%;
	background-color: white;
	margin: 0 auto;
}

.blackBox {
	height: 50%;
	width: 90%;
	background-color: black;
	margin: 0 auto;
	position: relative;
	top: 5%;
	color: white;
	font-family: Arial;
	font-size: 36px;
	text-align: center;
	line-height: 5;
}

.textBox2 {
	height: 30%;
	width: 90%;
	margin: 0 5%;
	text-align: left;
	font-family: Arial;
	font-size: 19px;
	position: relative;
	top: 4%;
}

.footer {
	height: 10%;
	background-color: black;
	position: relative;
	top: 4.8%;
}

.icon {
	color: white;
	font-family: Arial;
	font-size: 24px;
	float: right;
	margin: 2.5% 3%;
}

.google {
	margin-right: 8%;
}
