html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #D2D5D9
}

.main {
	height: 1200px;
	width: 1000px;
	margin: 5% auto;
	padding: 0 auto;
	background-color: #D2D5D9;
	border: 1px solid black;
}

.topBox {
	height: 330px;
	width: 900px;
	background-color: white;
	position: relative;
	top: 50px;
	left: 50px;
}

.textBox1 {
	height: 150px;
	width: 850px;
	background-color: white;
	position: relative;
	top: 25px;
	left: 25px;
	font-family: Arial;
	font-size: 24px;
}

.redButton {
	height: 60px;
	width: 150px;
	background-color: red;
	position: relative;
	top: 80px;
	left: 25px;
	color: white;
	font-family: Arial;
	font-size: 28px;
	text-align: center;
	line-height: 2;
}

.blueButton {
	height: 60px;
	width: 150px;
	background-color: blue;
	position: relative;
	left: 200px;
	top: 20px;
	color: white;
	font-family: Arial;
	font-size: 28px;
	text-align: center;
	line-height: 2;
}

.bottomBox {
	height: 600px;
	width: 900px;
	background-color: white;
	position: relative;
	top: 100px;
	left: 50px;
}

.blackBox {
	height: 350px;
	width: 850px;
	background-color: black;
	position: relative;
	top: 25px;
	left: 25px;
}

.insertImg {
	color: white;
	font-family: Arial;
	font-size: 36px;
	text-align: center;
	line-height: 9;
}

.textBox2 {
	height: 150px;
	width: 850px;
	background-color: white;
	position: relative;
	top: 50px;
	left: 25px;
	font-family: Arial;
	font-size: 24px;
}

.footer {
	height: 70px;
	width: 1000px;
	background-color: black;
	position: relative;
	top: 176px;
}

.apple {
	color: white;
	font-family: Arial;
	font-size: 24px;
	position: relative;
	top: 25px;
	left: 750px;
}

.google {
	color: white;
	font-family: Arial;
	font-size: 24px;
	position: relative;
	left: 850px;
	top: -2px;
}