* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.main {
  height: 100%;
  width: 80%;
  margin: 5% auto;
  padding: 1px;
  background-color: white;
  border: 1px solid black;
}

.header {
	height: 8%;
	background-color: black;
}

.icon {
	color: white;
	font-family: Arial;
	font-size: 22px;
	float: left;
	margin: 2% 3%;
}

.apple {
	margin-left: 6%;
}

.section {
	height: 82%;
	background-color: white;
	float: left;
}

.left {
	height: 100%;
	width: 50%;
}

.articleName {
	font-size: 30px;
	text-align: center;
	margin-top: 5%;
}

.textBlock {
	text-align: left;
	font-size: 12px;
	margin: 0 5%;
}

.grayBox {
	height: 50%;
	width: 90%;
	margin: 3% 5%;
	background-color: gray;
}

.right {
	height: 100%;
	width: 50%;
	float: right;
	position: relative;
	bottom: 100%;
}

.footer {
	height: 9.4%;
	width: 100%;
	background-color: black;
	float: right;
}



