* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.main {
  height: 100%;
  width: 80%;
  margin: 5% auto;
  padding: 1px;
  background-color: white;
  border: 1px solid black;
}

.threeBoxes {
	height: 15%;
}

.top {
	height: 90%;
	width: 28%;
	margin: 2% 0;
	margin-left: 4%;
	float: left;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.textBox {
	height: 42%;
	font-family: sans-serif;
	font-size: 20.5px;
	text-align: left;
	margin: 0 4%;
}

.doubleBox {
	height: 28%;
}

.blueBox {
	height: 100%;
	width: 92%;
	margin: 0 4%;
	background-color: blue;
}

.redBox {
	height: 100%;
	width: 30%;
	background-color: red;
}

.footer {
	height: 10%;
	margin: 1% 4%;
}

.longBlue {
	height: 100%;
	background-color: blue;
}

.rightRed {
	height: 100%;
	width: 30%;
	background-color: red;
	float: right;
}

.smallBlack {
	height: 100%;
	width: 70%;
	background-color: black;
	margin: 0 auto;
}






